


#navitem1 {
    color: #323f4b;
    font-family: "roboto";
}

#navitem2 {
    color: #323f4b;
    font-family: "roboto";
}

#navitem3 {
    color: #323f4b;
    font-family: "roboto";
}

#navitem4 {
    color: #323f4b;
    font-family: "roboto";
}

.food-logo {
    height: 70px;
    width: 80px;
}

.banner-section-bg {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: 'roboto';
    font-size: 45px;
    font-weight: 300;
}

.banner-para {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 24px;
    color: white;
}

.custom-butt {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-butt2 {
    color: white;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-width: 1px;
    border-radius: 8px;
    margin-right: 10px;
    border-color: #d0b200;
    border-style: solid;

}

.center {
    text-align: center;
}





.wcu-section {
    background-color: #f9fbfe;
}

.wcu-heading {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    color: #183b56;
}

.wcu-description {
    font-family: 'Roboto';
    font-size: 16px;
    color: #5a7184;
}

.wcu-card {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    border-color: #e5ea54;
}

.image {
    height: 90px;
    width: 87px;
}

.wcu-card-title {
    font-family: 'Roboto';
    font-weight: 500px;
    font-size: 22px;
    color: #323f4b;
}

.wcu-card-description {
    font-family: 'Roboto';
    font-size: 16px;
    color: #7b8794;
}

.offers {
    font-weight: 600;
    font-style: italic;
    color: #323f4b;
}


.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    width: 130px;
    height: 45px;
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #faf7e8;
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 17px;
    padding-bottom: 18px;
    margin: 15px;

}

.icon {
    font-size: 35px;
    color: #d0b200;

}

